{% extends 'movie_app/base.html' %}

{% block title %}Главная{% endblock %}

{% block body %}
    <h2><a href="{{ 'movies' }}">Фильмы</a></h2>
    <ul> 
        {% for movie in movies %}          
            <li><a href="{{ movie.get_url }}"><h3>{{ movie }}</h3></a></li>
        {% endfor %}
    </ul> 
    <hr>
    <h2><a href="{{ 'directors' }}">Режиссеры</a></h2>
    <ul>
        {% for director in directors %}          
            <li><a href="directors/{{ director.id }}"><h3>{{ director.name }}</h3></a></li>
        {% endfor %}
    </ul>
    <hr>
    <h2><a href="acters">Актеры</a></h2>
    <ul>
        {% for movie in movies %}
            {% for acter in movie.acters.all %}
                <li><a href=""><h3>{{ acter }}</h3></a></li>
            {% endfor %}
        {% endfor %}
    </ul>
{% endblock %}